




h1{font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
font-weight: 800;
font-variant: small-caps;
color: aquamarine;
border: solid aqua 10px;

}
.h2{

text-decoration: underline wavy;
display: inline; 


}
.lan{
color: aqua;

}
#java{
    color: blue;
}
a:link{ color: aqua;
    text-decoration: none;


}
a:visited{

color: rgb(255, 23, 23);

}
a:hover{

    color: green;
    font-size: 30px;
}
#link1:visited{
    color: black;
}
#link1:hover{

    color: blue;
}
image{
    width: 1800px;
    height: 1800px;
}
.overflow{ border: solid black 10px ;
    overflow: scroll;
 width: 200px;
 height: 200px;



}
.container{ background-color: aquamarine;
    display: inline-flex;
    margin: 10px;
    padding: 5px;
    
flex-direction: row;
/* flex-direction: row; */
flex-wrap: wrap;
height: 200px;
justify-content:center;
 justify-content: space-evenly;
 width: 500px;
align-items: center;

}
.child1{
margin: 5px;

    background-color: antiquewhite;

}
.child2{

margin: 5px;
    background-color: antiquewhite;
}
.child3{

margin: 5px;
    background-color: antiquewhite;
}

.child4{


    margin: 5px;
    background-color: antiquewhite;
}
.container div{
width: 100px;
height: 100px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}